<div class="container">
  <div class="header">
    <div>
      <span>Templates</span>
    </div>
    <div>
      <button (click)="navigate()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="body">
    <div class="search">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter()"
          #input
          [(ngModel)]="search_text"
        />
        <button
          *ngIf="search_text"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="search_text = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          *ngIf="!search_text"
          matSuffix
          mat-icon-button
          aria-label="Search"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="templates-table">
      <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="vista">
          <th mat-header-cell *matHeaderCellDef>Vista</th>
          <td mat-cell *matCellDef="let element">
            <div class="view-message">
              {{ element.message }}
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button (click)="sendTemplate(element)" matTooltip="Enviar plantilla">
              <mat-icon>send</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        id="paginator"
        [pageSizeOptions]="[2]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>

  </div>
</div>
